{% extends "base1.html" %}
{% load i18n %}

{% block content %}
<script type="text/javascript">
    /*$(document).ready(function(){
        $('.clr_cart').ajaxForm(function(data) {
            //
            $('#total_count').html(data.quantity);
            $('#total_cost').html(data.total_cost);
        });
    });*/
</script>

<h2>{% trans "Ваша корзина" %}</h2>

    {% for cartitem in cart.items.all %}
        <p>{{ cartitem }} - {{ cartitem.quantity }} шт.</p>
    {% endfor %}

    <h4><p>Сумма: {{ cart.total }} руб.</p></h4>
    <form method="get" action="edit/{{ cart.pk }}" class="add_to_cart">
        <input type="submit" value="Редактировать корзину" class="btn">
    </form>
    <form method="get" action="clear" class="clr_cart">
        <input type="submit" value="Очистить корзину" class="btn">
    </form>
    <!--form method="post" action="{% url pizza.views.create_order %}" class="add_to_cart">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ cart.pk }}">
        <input type="submit" value="Перейти к заказу" class="btn">
    </form-->
        <!--a href="{% url pizza.views.create_order %}">Перейти к заказу</a-->
        <input type="button" onClick="location.href='/order'" value="Перейти к заказу" class="btn">
{% endblock %}
