{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <!--div class="navbar navbar-fixed-top"-->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <h2>{% trans "Ваша корзина" %}</h2>
      </div>
    </div>
  </div>

<div class="container">

    {% for cartitem in cart.items.all %}
        <p>{{ cartitem }} - {{ cartitem.quantity }} шт.</p>
    {% endfor %}

    <p>Сумма:</p>{{ cart.total }} руб.


<form id="cart_form" class="well" method="POST" action="{% url cart-edit cart.pk %}">
    {% csrf_token %}
    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.title.errors }}
    <!--label for="id_name">Cart Name</label-->
    <!--input type="text" name="name" id="id_name"-->
    {{ cart_formset.management_form }}
        {% for form in cart_formset.forms %}
            {{ form.id }}
            {{ form.instance.product.name }}
            <div class="form-row">
                {{ form.quantity.label_tag }}{{ form.quantity }}
                {{ form.quantity.errors }}
            </div>
        {% endfor %}
    <div class="form-row">
        Общая сумма:{{ form.instance.total }} руб.   
    </div><br />
    <input type="submit" value="Обновить корзину" class="btn">
    <!--p>Сумма:</p> cart.total }} руб.-->
</form>

</div>
{% endblock %}
