{% extends "base.html" %}

{% block title %}Was Mayans right?{% endblock %}

{% block content %}
<!--a href="{ url 'Order' %}">Order pizza</a-->

<script type="text/javascript">
    $(document).ready(function(){
        /*$('#add_to_cart').click(function() {
            $.ajax({
                type: "POST",
                url: "{% url cart.views.add_product %}",
                success: function(data) {
                    
                }
            })
        });*/
        $('.add_to_cart').ajaxForm(function(data) {
            //
            $('#total_count').html(data.quantity);
            $('#total_cost').html(data.total_cost);
        });
    });
</script>

<a href="{% url pizza.views.create_order %}">Order pizza</a>

<table class="table">
<!--ul class="unstyled"-->
    {% for pizza in pizza_list %}
    <!--li-->
    <tr>  
        <td>{{ pizza.name }}</td>
        <td>{{ pizza.id }}</td>
        <td><a href="{% url cart.views.add_product %}">Add to cart</a></td>
        <td><form method="post" action="{% url cart.views.add_product %}" class="add_to_cart">{% csrf_token %}
            <input type="hidden" name="add_pizza_id" value="{{ pizza.id }}">
            <input type="hidden" name="quantity" value="1">
            <input type="submit" value="Add to cart" class="btn">
        </form></td>
    <!--/li-->
    </tr>
    {% endfor %}
</ul>
{% endblock %}
