{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Ваша корзина" %}</h2>

    {% for cartitem in cart.items.all %}
        <p>{{ cartitem }} - {{ cartitem.quantity }} шт.</p>
    {% endfor %}

    <p>Сумма:</p>{{ cart.total }} руб.
    <form method="post" action="{% url pizza.views.create_order %}" class="add_to_cart">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ cart.pk }}">
        <input type="submit" value="Перейти к заказу" class="btn">
    </form>
        <a href="{% url pizza.views.create_order %}">Перейти к заказу</a>

{% endblock %}
